@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

/* Left section */
.left {
    font-family: 'Rubik', sans-serif;
    background-image: url(./annie-spratt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30vw;
    height: 100vh;
    position: relative;
    color: white;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 6rem;
    height: 10rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    box-sizing: border-box;
}

.imglogo {
    height: 8rem;
}

.textlogo {
    font-size: 2.5rem;
}

.left footer {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    width: 100%;
}

a, a:visited {
    color: white;
}

/* Right section */
.right {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: whitesmoke;
    width: 70vw;
    height: 100vh;
    color: black;
    padding: 7%;
}

.boldtext {
    font-size: 1rem;
    font-weight: 700;
}

.formsection {
    background-color: white;
    box-shadow: 5px 5px 5px 5px gray;
    padding: 5%;
}

button {
    margin-top: 1.2rem;
    background-color: #1d672f;
    color: white;
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
}

.formsection>form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}